*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4px;
}

div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

div input[type=text] {
    width: 200px;
    height: 30px;
}
